<ion-header [translucent]="true">
</ion-header>

<ion-content>
<img src="assets/imagenes/BasurApp.png">
  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-button expand="full" class="colorVerde" (click)="login()">RECICLEMOS!</ion-button>